*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100dvw;
  height: 100dvh;
}

.App {
  text-align: center;
  display: grid;
  min-height: 100dvh;
  max-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.App-header{
  padding: 0 15px;
  height: 80px;
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo{
  height: 80px;
}

.header-logo > a{
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;

  font-weight: bold;
  font-size: 18px;
  line-height: 1;
}

.nav-list{
  height: 80px;
  list-style: none;
  display: flex;
}

/* .nav-item{
  display: flex;
  align-items: center;
} */

.nav-item > a{
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}



.App-main{
  background-color: aqua;
  overflow-y: auto;
}

.article-img{
  max-width: 150px;
}

.App-footer{
  min-height: 60px;
  background-color: blueviolet;
}


