/*----------VARIABLES GENERALES----------*/

:root{
  --color-orange: #FA8900;
  --color-orange-light: #fbd098;
  --color-red: #ff5757;
  --color-green: #59bc57;
  --color-black: #131921;
  --color-white: #FAFAFA;
}


/*----------ESTILOS GENERALES----------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 100dvw;
  height: 100dvh;
  overflow-y: hidden;
  font-size: 62.5%;
  color: var(--color-black);
}

.App {
  text-align: center;
  min-height: 100dvh;
  max-height: 100dvh;
  /* display: grid;
  grid-template-rows: auto minmax(calc(100dvh - 140px), auto) auto; */
}

/*----------ESTILOS HEADER----------*/

.App-header{
  padding: 0 30px;
  height: 90px;
  width: 100%;
  background-color: var(--color-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 0px 5px 1px #838383;
}

.header-nav{
  display: flex;
  gap: 15px;
}

.header-brand{
  white-space: nowrap;
  height: 80px;
}

.header-brand > a{
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;

  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.1;
}

.brand-title{
  color: var(--color-white);
  letter-spacing: 1.5px;
  transition: color .3s ease-in-out, text-shadow .3s ease-in-out;
}

.brand-title--mod{
  color: var(--color-orange);
  /* text-shadow: 
    -1px -1px 2px var(--color-blue),  
    1px -1px 2px var(--color-blue),
    -1px  1px 2px var(--color-blue),
    1px  1px 2px var(--color-blue); */
}

.brand-subtitle{
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 2px;
  text-align: left;
  color: var(--color-white);
  transition: letter-spacing .3s ease-in-out;
  position: relative;
}

.brand-subtitle::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: var(--color-white);
  transition: width 0.3s ease-in-out;
}

.header-brand > a:hover .brand-title{
  color: var(--color-orange);
  /* text-shadow: 
    -1px -1px 2px var(--color-blue),  
    1px -1px 2px var(--color-blue),
    -1px  1px 2px var(--color-blue),
    1px  1px 2px var(--color-blue); */
}

.header-brand > a:hover .brand-title--mod{
  color: var(--color-white);
  letter-spacing: 1.5px;
  text-shadow: none;
}

.header-brand > a:hover .brand-subtitle{
  letter-spacing: 3.2px;
}

.header-brand > a:hover .brand-subtitle::after{
  width: 98%;
}

.header-brand > a:hover .brand-logo{
  transform: rotate(-10deg);
}

.brand-container{
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-logo{
  width: 50px;
  transition: transform .3s ease-in-out;
}

.nav-catList{
  height: 80px;
  list-style: none;
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-catItem > a{
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--color-white);
}

.nav-userList{
  display: flex;
  list-style: none;
  gap: 15px;
}

.nav-cart,
.nav-user,
.nav-not{
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon,
.user-icon,
.not-icon{
  width: 30px;
  z-index: 5;
  transition: transform .2s ease-in-out;
}

.nav-cart .cart-icon:hover,
.nav-not .not-icon:hover,
.nav-user .user-icon:hover,
.nav-cart .cart-icon:hover ~ .cart-count{
  transform: scale(1.1);
}

.cart-count{
  width: 22px;
  height: 22px;
  position: absolute;
  top: 15%;
  left: 40%;
  background-color: var(--color-orange);
  border-radius: 50%;
  line-height: 1.3rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-black);
  z-index: 10;
  transition: transform .2s ease-in-out;
}

/*----------ESTILOS DEL MAIN----------*/

.App-main{
  /* padding: 30px; */
  /* width: 95%;
  margin: 0 auto; */
  height: calc(100dvh - 90px);
  overflow-y: auto;
  background-color: var(--color-white);
  min-height: calc(100dvh - 90px);
}

.main-sec{
  padding: 30px;
  max-width: 100dvw;
  min-height: calc(100vh - 150px);
}

/*----------ESTILOS DE HOME----------*/

.home-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}

.home-brand-container{
  background-color: var(--color-black);
  padding: 20px 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 15px;
  box-shadow: 1px 1px 3px var(--color-black);
  animation: home-brand .5s ease-in-out;
}

@keyframes home-brand {
  from{
    transform: translateY(-15px);
    opacity: 0;
  }to{
    transform: translateY(0px);
    opacity: 1;
  }
}

.home-brand-logo{
  width: 80px;
}

.home-brand-title{
  color: var(--color-white);
  font-size: 1.8rem;
  user-select: none;
}

.home-brand-title--mod{
  color: var(--color-orange);
}

.home-brand-subtitle{
  font-size: 1rem;
  user-select: none;
  color: var(--color-white);
}

.home-article{
  margin-top: 20px;
  text-align: left;
}

.welcome-header,
.functions-header,
.tecs-header{
  font-size: 2rem;
  margin-bottom: 15px;
}

.welcome-text,
.functions-item,
.tecs-item{
  font-size: 1.2rem;
}

.functions-list,
.tecs-list{
  width: 50%;
  margin: 0 auto;
}

/*----------ESTILOS SECCIONES----------*/

.main-sec-title{
  font-size: 2rem;
}

.main-sec-products{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

/*-----ESTILO POR PRODUCTO-----*/

.product-container{
  background-color: var(--color-orange-light);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 1px #adadad;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  animation: product .3s ease-in .1s both;
}

@keyframes product {
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}

/*IMAGEN PRODUCTO*/

.product-imgContainer{
  width: 100%;
  min-height: 300px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.product-img{
  max-width: 150px;
  transition: transform .3s ease-in-out;
}

.product-imgContainer:hover .product-img{
  transform: scale(1.1);
}

/*TITULO PRODUCTO*/

.product-title{
  margin: 10px 0;
  font-size: 1.3rem;
  text-wrap: balance;
}

.product-dataSection{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*DESCRIPCIÓN PRODUCTO*/

.product-decriptionContainer{
  position: relative;
  margin-bottom: 20px;
  font-size: 1.1rem;

  display: flex;
  flex-direction: column;
  justify-content:start;
}

.product-description{
  margin-bottom: 30px;
  font-size: 1.1rem;
  min-height: 100px;
  max-height: 100px;
  overflow: hidden;
  cursor: pointer;
}

.product-decriptionContainer::before{
  content: '...leer más';
  position: absolute;
  bottom: -5px;
  right: 42%;
  z-index: 20;
  font-weight: 500;
  color: var(--color-black);
  cursor: pointer;
}

.product-decriptionContainer:focus .product-description{
  overflow: visible;
  min-height: none;
  max-height: none;
  height: auto;
  cursor:auto;
}

.product-decriptionContainer:focus{
  overflow: visible;
  height: auto;
}

.product-decriptionContainer:focus::before{
  content: '';
}

/*RATING PRODUCTO*/

.rate-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.rating-container{
  display: flex;
}

.rating-star,
.rating-star--outline{
  width: 30px;
  height: 30px;
  clip-path: polygon(50% 0%, 65% 30%, 98% 35%, 75% 60%, 79% 91%, 50% 73%, 21% 91%, 25% 60%, 2% 35%, 35% 30%);
}

.rating-star--outline{
  background-color: var(--color-black);
  position: relative;
}

.rating-star{
  transform: scale(0.8);
  position: absolute;
  background-color: var(--color-white);
  top: 0;
  left: 0;
}

.rating-star--full{
  background-color: var(--color-orange);
}

.rating-info{
  font-size: 1rem;
}

/*PRECIO PRODUCTO*/

.product-price{
  margin-top: 8px;
  background-color: var(--color-green);
  border: 1px solid var(--color-black);
  padding: 10px;
  border-radius: 10px;
  font-size: 1.4rem;
  box-shadow: 0 0 3px var(--color-black);
}

/*CART PRODUCTO*/

.product-handleCart{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  background-color: var(--color-white);
  border-radius: 17px;
  border: 1px solid var(--color-black);
  box-shadow: 0 0 1px var(--color-black);
}

.handleCart-btn{
  padding: 5px 20px;
  border: none;
  background-color: var(--color-orange);
  cursor: pointer;
  transition: filter .2s ease-in-out;
}

.handleCart-btn--remove{
  border-radius: 17px 0 0 17px;
  border-right: 1px solid var(--color-black);
}

.handleCart-btn--add{
  border-radius: 0 17px 17px 0;
  border-left: 1px solid var(--color-black);
}

.handleCart-btn:hover{
  filter: brightness(1.2);
}

.handleCart-icon{
  width: 28px;
}

.handleCart-count{
  margin: auto;
  padding:0 40px;
  line-height: 5px;
  font-size: 1.6rem;
  background-color: var(--color-white);
  /* border: 1px solid var(--color-black); */
}


.cart-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
  position: relative;
}

.cartProducts{
  padding: 30px;
}

.cartAside{
  background-color: var(--color-orange-light);
  /* min-height: calc(100dvh - 150px);
  max-height: 100%; */
  height: calc(100dvh - 90px);
  position: sticky;
  top: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 10;
}

.cartAside-list{
  list-style: none;
}

.App-footer{
  color: var(--color-white);
  font-size: 1.2rem;
  background-color: var(--color-black);
  position: relative;
  z-index: 20;
  box-shadow: 0px 0px 5px 1px #838383;

  display: flex;
  flex-direction: column;
}

.footer-up{
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}